
@media(max-width: 460px){   
       .menu {
           display: block;
       }    
       .cards{
           
display: flex;
           overflow-x: scroll;
           height: auto;
           width: 100%;           
       }

       .presentacion > img{
           width: 150px;
           height: 150px;
       }
}
